In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
dataFrame[:5]

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [4]:
print("Answer 1")


A = [1,2,3,4,5,6] 
B = [13, 21, 34]
A.extend(B)
A

Answer 1

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [5]:
print('Answer 2')

np.identity(3)

Answer 2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [6]:
print('Answer 3')

newDat = dataFrame.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']
newDat.mean().sort_values()[:1]

Answer 3

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

In [7]:
print('Answer 4', end='\n \n')

print('Standard Deviation = ', end='')
print(dataFrame.fuel_mmbtu_per_unit.std(), end='\n\n')

print('75th Percentile = ', end='')
print(dataFrame.fuel_mmbtu_per_unit.quantile(q=.75).round(2))

Answer 4

Standard Deviation = 10.600220307806886

75th Percentile = 17.01

In [8]:
print('Answer 5')

print('Skewness = ', end='')
print(dataFrame.fuel_qty_burned.skew().round(2), end='\n\n')

print('Kurtosis = ', end='')
print(dataFrame.fuel_qty_burned.kurtosis().round(2))

Answer 5
Skewness = 15.85

Kurtosis = 651.37

In [9]:
print('Answer 6', end='\n\n')

print(dataFrame.isnull().sum())

ans = dataFrame.fuel_unit.isnull().sum()*100/dataFrame.shape[0]

ans.round(3)

Answer 6

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

0.61

In [10]:
print('Answer 8', end='\n\n')

dataFrame.corr()['fuel_cost_per_unit_burned'].sort_values()[1:3]

Answer 8

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
print('Answer 9', end='\n\n')

groupedDat=dataFrame.groupby(['fuel_type_code_pudl','report_year']).fuel_cost_per_unit_burned.sum()

(((groupedDat['coal'][1998]-groupedDat['coal'][1994])*100)/groupedDat['coal'][1994]).round()

Answer 9

-21.0

In [12]:
print('Answer 10', end='\n\n')

dataFrame.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().sort_values()[-1:]

Answer 10

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64